* text=auto !eol
/MLS800.h -text
/MLS800.ino -text
/MLS800.sln -text
/MLS800.vcxproj -text
/MLS800.vcxproj.filters -text
/MLS800_version.h -text
/PatchManager.cpp -text
/PatchManager.h -text
Visual[!!-~]Micro/.MLS800.vsarduino.h -text
